body {
  background-color: #e7f42f45;
}
.container {
  margin: auto;
  text-align: center;
  padding-top: 30px;
  width: 400px;
  height: 400px;
  background-color: rgb(93 96 49 / 50%);
  margin-top: 50px;
  border-radius: 2rem;
}
nav {
  text-align: center;
  padding-top: 30px;
}
input {
  border-radius: 0.2rem;
  padding: 8px;
}
#hypotenuse-button {
  width: 7rem;
  text-align: center;
  border-radius: 2px;
  margin-bottom: 30px;
  margin-top: 20px;
}
a {
  padding-left: 30px;
  text-align: center;
  margin: auto;

  color: rgb(5, 5, 31);
}
